<p>Thanks for signing up
  <span class="font-semibold">{{ name }}</span>,
</p>
<p>Please click link below to verify your email address to get access to our apps.</p>
{{#> button-link href=verificationLink}}
Verify Email Address
{{/button-link}}